@page "/fetchdata"
@inject HttpClient Http
@inject ILogger<FetchData> Logger

<PageTitle>Inventory</PageTitle>

<h1>Inventory</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (inventoryItems == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Description</th>
                <th>Price</th>
                <th>Amount in stock</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var inventoryItem in inventoryItems)
            {
                <tr>
                    <td>@inventoryItem.Date.ToShortDateString()</td>
                    <td>@inventoryItem.Description</td>
                    <td>@inventoryItem.Price</td>
                    <td>@inventoryItem.AmountInStock</td>
                </tr>
            }
        </tbody>
    </table>
}
@if (lastErrorMessage is not null)
{
    <pre><textarea rows="20" cols="60" @bind="@lastErrorMessage"></textarea></pre>
}

@code {
    private Inventory[]? inventoryItems;
    private string? lastErrorMessage;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            lastErrorMessage = null;
            inventoryItems = null;
            inventoryItems = await Http.GetFromJsonAsync<Inventory[]>("api/inventory");
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, "Failed to fetch inventory");
            lastErrorMessage = $"Error: {ex.Message}";
            inventoryItems = Array.Empty<Inventory>();
        }

    }

    public class Inventory
    {
        public DateOnly Date { get; set; }

        public int AmountInStock { get; set; }

        public decimal Price { get; set; }

        public string? Description { get; set; }
    }
}
